:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Стили взяты из источника: https://codepen.io/myacode/pen/PoqQQNM*/

.clock {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 12rem;
  height: 12rem;
  justify-self: center;
  box-shadow: .3rem .3rem .6rem var(--greyLight-2), 
  -.2rem -.2rem .5rem var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hand {
  position: absolute;
  transform-origin: bottom;
  bottom: 6rem;
  border-radius: .2rem;
  z-index: 200;
}

.hours {
  width: .4rem;
  height: 3.2rem;
  background: var(--greyLight-3);
}

.minutes {
  width: .4rem;
  height: 4.6rem;
  background: var(--greyDark);
}

.seconds {
  width: .2rem;
  height: 5.2rem;
  background: var(--primary);
}

.point {
  position: absolute;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background: var(--primary);
  z-index: 300;
}

.marker {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: relative;
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
  inset -.2rem -.2rem .5rem var(--white);
}

.marker::after {
  content: '';
  width: 60%;
  height: 60%;
  position: absolute;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), 
  inset -1px -1px 1px var(--white);
  border-radius: 50%;
  top: 20%;
  left: 20%;
  filter: blur(1px);
}

.marker__1, .marker__2, .marker__3, .marker__4 {
  position: absolute;
  border-radius: .1rem;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), 
  inset -1px -1px 1px var(--white);
}

.marker__1, .marker__2 {
  width: .2rem;
  height: .6rem;
  left: 5.6rem;
}

.marker__3, .marker__4 {
  width: .6rem;
  height: .2rem;
  top: 5.6rem;
}

.marker__1 {
  top: 2%;
}

.marker__2 {
  top: 98%; 
  transform: translateY(-.6rem);
}

.marker__3 {
  left: 2%;
}

.marker__4 {
  left: 98%; 
  transform: translateX(-.6rem);
}

.form-clock {
  width: 20.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1.4rem;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), 
  inset -1px -1px 1px var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  transition: 0.3s;
}

.form-clock::placeholder { 
  color: var(--greyLight-3);
}

.form-clock:focus { 
  outline: none; 
  box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
  inset -.2rem -.2rem .5rem var(--white);
}

.form-btn {
  border: none;
  font-size: 1.6rem;
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  background: var(--primary);
  box-shadow:inset .2rem .2rem 1rem var(--primary-light), 
    inset -.2rem -.2rem 1rem var(--primary-dark),
    inset .2rem .2rem .5rem var(--greyLight-2), 
    inset -.2rem -.2rem .5rem var(--white);
  color: var(--greyLight-1);
}

.btn-delete {
  width: 2rem;
  height: 2rem;
}

form, .clocks {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 30px;
  justify-content: space-between;
}

.clocks {
  flex-wrap: wrap;
  justify-content: center;
}

.capital {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary);
}

.clocks-elem {
  margin: 30px;
}

.clocks-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

